<%= render "shared/header" %>
<div class='background'>
  <div class="main">
    <div class='title-contents'>
      <h1 class="title">
        MATH ドリとは
      </h1>
    </div>
    <div class='select-reson-contents'>
      <ul class='reason-lists'>
        <li class='list'>
          <h3 class='reason-list-text'>
            ①授業プリントの共有
          </h3>
          <p class='reason-list-description'>
            授業プリントを共有することで授業準備の時間短縮！
          </p>
        </li>
        <li class='list'>
          <h3 class='reason-list-text'>
            ②教材研究の手助けに
          </h3>
          <p class='reason-list-description'>
            他の先生の授業をお手本に授業改善
          </p>
        </li>
        <li class='list'>
          <h3 class='reason-list-text'>
            ③生徒へのプリント共有も簡単に！
          </h3>
          <p class='reason-list-description'>
            配布したいプリントを一発共有！
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>